@import "setting_colors";

.main_content{
    width: 100%;
    height: 100%;

    .jumbotron{

        .form-control:focus,
        .form-control:active{
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,133,27, .6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,133,27, .6);
            border-color: $color_brand;
        }

        .btn-primary{
            background-color: $color_brand;
            border-color: transparent;
        }
    }
}

.main_content#forgot_view{
    background-image: url('../img/background/forgot_bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main_content#reset_view{
    background-image: url('../img/background/reset_bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}