<header class="header">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">Brand</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#featured">Featured</a>
                </li>
                <li class="nav-item">
                    <a href="#partners">Partners</a>
                </li>
            </ul>
            <ul class="navbar-nav pull-right">
                <li class="nav-item">
                    <div class="btn-outline">
                        <app-login></app-login>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>