<div class="banner-lg">
	<div class="mask">
		<img src="https://images.unsplash.com/photo-1501455708355-9bfae52b7dc3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=477e9771b3ad18c105bca1a6f9e43372&auto=format&fit=crop&w=1350&q=80" alt="Brand Banner">
	</div>
	<div class="banner-wrapper">
		<div class="banner-title">
			<h1>This is Banner</h1>
			<p>It's Great to be a Brand</p>
		</div>
	</div>
</div>

<section class="container">
	<div class="featured row" id="featured">
		<div class="heading-title">
			<h1>Featured</h1>
			<p>Donec vestibulum euismod sem finibus laoreet. Etiam pulvinar euismod diam id finibus. Integer commodo scelerisque metus, sit amet tempus erat varius sit amet. Sed euismod porta tortor, sit amet sodales diam vulputate ut.</p>
		</div>
		<div class="featured-item col">
			<div class="mask">
				<img src="https://images.unsplash.com/photo-1517462964-21fdcec3f25b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9c6622d956bd3bb519516691c31141f4&auto=format&fit=crop&w=634&q=80" alt="featured image">
			</div>
			<div class="featured-content">
				<h3 class="featured-title">Featured 1</h3>
				<p class="featured-description">This is the best reason to use</p>
			</div>
		</div>
		<div class="featured-item col">
			<div class="mask">
				<img src="https://images.unsplash.com/photo-1491349174775-aaafddd81942?ixlib=rb-0.3.5&s=091e1246b8fbf6ad4a6b7df9b98454c1&auto=format&fit=crop&w=634&q=80" alt="featured image">
			</div>
			<div class="featured-content">
				<h3 class="featured-title">Featured 2</h3>
				<p class="featured-description">This is the best reason to use</p>
			</div>
		</div>
		<div class="featured-item col">
			<div class="mask">
				<img src="https://images.unsplash.com/photo-1515023115689-589c33041d3c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c3aa8da6adfefe05485c787152ec7619&auto=format&fit=crop&w=634&q=80" alt="featured image">
			</div>
			<div class="featured-content">
				<h3 class="featured-title">Featured 3</h3>
				<p class="featured-description">This is the best reason to use</p>
			</div>
		</div>
	</div>

	<div class="signUp row">
		<div class="signUp-box col-xs-12 col-sm-6">
			<div class="signUp-content">
				<h2>Sign Up Now!</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ligula nunc, interdum ut ornare pretium, fermentum eu nulla. Nulla fermentum lacus sed mauris ultrices dignissim. Morbi mattis purus felis, ut tincidunt arcu porttitor nec. Quisque eu dolor in felis facilisis faucibus. Phasellus urna nunc, dictum sed molestie sed, efficitur vestibulum dui. Maecenas aliquet nec leo vel luctus. Mauris non pharetra ipsum. Fusce malesuada egestas enim, et consectetur arcu ullamcorper ut. Suspendisse semper semper ante non bibendum. Vestibulum vel luctus augue.</p>
				<br>
				<button class="btn btn-outline" type="submit">Sign Up Now!</button>

				<div class="signUp-side">
					<div class="mask">
						<img src="https://images.unsplash.com/photo-1504887607625-fac9cade94b7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8dfc0c6272df44cc12a0b2f1db1ddfba&auto=format&fit=crop&w=1350&q=80" alt="sign up cover image">
					</div>
				</div>
			</div>


		</div>
	</div>

	<div class="partners row" id="partners">
		<div class="heading-title">
			<h1>Trusted Partners</h1>
			<p>Donec vestibulum euismod sem finibus laoreet. Etiam pulvinar euismod diam id finibus. Integer commodo scelerisque metus, sit amet tempus erat varius sit amet. Sed euismod porta tortor, sit amet sodales diam vulputate ut.</p>
		</div>
		<div class="partners-item col">
			<div class="mask">
				<img src="https://images.unsplash.com/photo-1506714260631-1b0f54c0f231?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3135fb1e0ccfcc5776a8c5a49a02ebef&auto=format&fit=crop&w=1350&q=80" alt="partners image">
			</div>
			<div class="partners-content">
				<h3 class="partners-title">Customer 1</h3>
				<p class="partners-description">Economy Empire</p>
			</div>
		</div>
		<div class="partners-item col">
			<div class="mask">
				<img src="https://images.unsplash.com/photo-1519073391087-984096115727?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1bfa59edb93dd0b8c74f1f0d6bd5532c&auto=format&fit=crop&w=1267&q=80" alt="partners image">
			</div>
			<div class="partners-content">
				<h3 class="partners-title">Customer 2</h3>
				<p class="partners-description">Economy Empire</p>
			</div>
		</div>
		<div class="partners-item col">
			<div class="mask">
				<img src="https://images.unsplash.com/photo-1506277789875-529f12691361?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d708b98eaaa2379bb6d3c8d40240ce5c&auto=format&fit=crop&w=1267&q=80" alt="partners image">
			</div>
			<div class="partners-content">
				<h3 class="partners-title">Customer 3</h3>
				<p class="partners-description">Economy Empire</p>
			</div>
		</div>
		<div class="partners-item col">
			<div class="mask">
				<img src="https://images.unsplash.com/photo-1498603911539-01ce6c9ad8f5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8a3b8e09f17eeb61aac6b8df541681b8&auto=format&fit=crop&w=1350&q=80" alt="partners image">
			</div>
			<div class="partners-content">
				<h3 class="partners-title">Customer 4</h3>
				<p class="partners-description">Economy Empire</p>
			</div>
		</div>
	</div>
</section>

<section class="container-fluid get-started-wrapper">
	<div class="mask">
		<img src="https://images.unsplash.com/photo-1516567703622-d89d2a5027cd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0f5dda36175879dd318c45bb37c606a8&auto=format&fit=crop&w=1350&q=80" alt="get started background">

		<div class="get-started">
			<div class="get-started-title">
				<h1>See enough?</h1>
				<p>Get ready to Sign In if You have an account</p>
				<br>
				<div class="btn-outline">
					<app-login></app-login>
				</div>

			</div>
		</div>
	</div>
</section>