/*

MAIN STYLE for BRAND

Author: hung.luong@matocreative.vn

=== Content ===

1/Varibles
2/Mixin
3/Reset Bootstrap

 */
/*
============= 1/VARIBLES =============
 */
/* COLOR of TEXT */
/*
============= 2/MIXIN =============
 */
/*
============= 3/RESET BOOTSTRAP =============
 */
a:hover {
  text-decoration: none; }

.container-fluid {
  padding-left: 0;
  padding-right: 0; }

.banner-lg {
  position: relative; }
  .banner-lg .mask {
    width: 100%;
    height: 600px;
    overflow: hidden; }
    .banner-lg .mask img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .banner-lg .banner-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }
    .banner-lg .banner-wrapper .banner-title {
      width: 50%;
      margin: 250px auto;
      padding: 30px;
      color: #fff;
      text-align: center; }

.featured .featured-item {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px; }
  .featured .featured-item .mask {
    width: 160px;
    height: 160px;
    overflow: hidden;
    margin: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
    .featured .featured-item .mask img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.signUp .signUp-box .signUp-content {
  padding: 40px 30px;
  background-color: #ff7701;
  color: #fff;
  position: relative; }
  .signUp .signUp-box .signUp-content .btn-outline {
    border: 3px solid #fff;
    background-color: transparent;
    color: #fff; }
    .signUp .signUp-box .signUp-content .btn-outline:hover {
      background-color: #fff;
      color: #ff7701; }
  .signUp .signUp-box .signUp-content .signUp-side {
    width: calc(100% + 30px);
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%; }
    .signUp .signUp-box .signUp-content .signUp-side .mask {
      width: 100%;
      height: 100%;
      overflow: hidden; }
      .signUp .signUp-box .signUp-content .signUp-side .mask img {
        width: 100%;
        height: 100%;
        object-fit: cover; }

.partners .partners-item {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px; }
  .partners .partners-item .mask {
    width: 80px;
    height: 80px;
    overflow: hidden;
    margin: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
    .partners .partners-item .mask img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.get-started-wrapper {
  padding-left: 0;
  padding-right: 0;
  height: 400px; }
  .get-started-wrapper .mask {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative; }
    .get-started-wrapper .mask img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .get-started-wrapper .mask .get-started {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5); }
    .get-started-wrapper .mask .get-started-title {
      width: 50%;
      margin: 100px auto;
      padding: 30px;
      color: #fff;
      text-align: center; }
      .get-started-wrapper .mask .get-started-title .btn-outline {
        border: 3px solid #fff;
        background-color: transparent;
        color: #fff; }
        .get-started-wrapper .mask .get-started-title .btn-outline:hover {
          background-color: #fff;
          color: #ff7701; }

.heading-title {
  display: block;
  text-align: center;
  margin-bottom: 30px; }
  .heading-title p {
    width: 60%;
    margin: auto;
    color: #6e6e6e; }

.row {
  padding-top: 70px;
  padding-bottom: 70px; }

/*# sourceMappingURL=home.component.css.map */
