@import "./../assets/main";

header{

    nav{
        margin-bottom: 0;
        background-color: $primary;

        li.nav-item{
            a{
                display: block;
                padding: .5rem 1rem;
                color: rgba(255,255,255, .5);

                &:hover{
                    color: rgba(255,255,255,1);
                }
            }

            &.active{
                a{
                    color: rgba(255,255,255, 1);
                }
            }

            .btn-outline{
                border: 3px solid #fff;
                background-color: transparent;
                color: #fff;

                &:hover{
                    background-color: #fff;
                    color: $primary;
                }
            }
        }
    }

}

footer{
    background-color: $primary;
    padding-top: 50px;
    padding-bottom: 50px;

    nav{
        text-align: center;

        ul{
            li{
                color: #fff;

                a{
                    color: #fff;

                    &:hover{
                        color: #fff;
                    }
                }
            }
        }

    }

    p{
        text-align: center;
        color: #fff;
    }
}