<footer class="footer container-fluid">
  <div class="container">
    <nav>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="">About Us</a>
        </li>
        <li class="list-inline-item">-</li>
        <li class="list-inline-item">
          <a href="">Support</a>
        </li>
        <li class="list-inline-item">-</li>
        <li class="list-inline-item">
          <a href="">Career</a>
        </li>
      </ul>
    </nav>
    <p>
      2018 &copy; 20Section Co.
    </p>
  </div>

</footer>