<section class="container-fluid">
	<!-- Heading Title -->
	<div class="heading row">
		<div class="col">
			<div class="heading-title">
				<span class="title">Brand <small>Dashboard</small></span>
			</div>

		</div>
	</div>
	<!-- End Header -->

	<!-- Quick Numbers -->
	<div class="quick-numbers row">
		<div class="box col">
			<div class="box-inner">
				<h3>999</h3>
				<p>Orders</p>
				<div class="box-icon">
					<i class="fas fa-briefcase"></i>
				</div>
				<a href="#" class="box-footer-link">More info <i class="fas fa-arrow-circle-right"></i> </a>
			</div>
		</div>
		<div class="box col">
			<div class="box-inner">
				<h3>999,999</h3>
				<p>Products</p>
				<div class="box-icon">
					<i class="fas fa-briefcase"></i>
				</div>
				<a href="#" class="box-footer-link">More info <i class="fas fa-arrow-circle-right"></i> </a>
			</div>
		</div>
		<div class="box col">
			<div class="box-inner">
				<h3>999,999</h3>
				<p>New Customers</p>
				<div class="box-icon">
					<i class="fas fa-briefcase"></i>
				</div>
				<a href="#" class="box-footer-link">More info <i class="fas fa-arrow-circle-right"></i> </a>
			</div>
		</div>
		<div class="box col">
			<div class="box-inner">
				<h3>999,999</h3>
				<p>In-Stock</p>
				<div class="box-icon">
					<i class="fas fa-briefcase"></i>
				</div>
				<a href="#" class="box-footer-link">More info <i class="fas fa-arrow-circle-right"></i> </a>
			</div>
		</div>
	</div>
</section>


